footer {
    padding: 24px 0;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.footer-container {
    padding: 0 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.about ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about ul li {
    color: rgba(0,0,0,.56);
    padding-top:  .8rem;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    cursor: pointer;
}

.footer-container .about {
    display: flex;
}
.links-container ul li:hover {
    color: rgba(0,0,0,.87);
}

.links-container {
    width: 190px;
    margin-right: 50px;
}

footer h3 { 
    font-weight: 400;
    margin-bottom: 24px;
}

.terms-section {
    display: flex;
    flex-direction: column;

}

.terms-container {
    margin: 0 auto;
    margin-top: 3.2rem;
    margin-bottom: 2rem;
}
.restrictions {
    font-size: 13px;
    text-align: center;
    padding: 0 auto;
}

p {
    width: 550px;
    font-size: 15px;
    line-height: 1.8;
}

.social-container {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    padding-top: 32px;
}

.social-container li{
    margin-right: 10px;
}
.social-container li .iconify {
    font-size: 38px;
    color: black;
    cursor: pointer;
}

hr {
    border: 1px solid lightgray;
}

.policy {
    list-style-type: none;  
    display: flex;
    padding-left: 0;
}

.policy li {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
}

.policy li .separate {
    padding-left: .8px;
    padding-right: .8px;
    font-size: 28;
}

.policy li button {
border: none;
background-color: white;
padding-left: 16px;
padding-right: 16px;
font-size: 16px;
}

.policy li button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.policy li button:first-child {
    padding-left: 0;
}